
.text-pink{
    color: rgb(255, 0, 128);
}

.text-darkRed{
    color: rgb(244, 9, 9);    
}

.borde-Navbar{
    border-bottom: solid 7px rgb(244, 9, 9); 
    border-top: solid 7px rgb(244, 9, 9); 
}

.bkground-header{
    background-image: url(img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 80.3vh;
}

.fs-10{
    font-size: 5rem;
}

.bkgroud-texto-header{
    background-color: rgba(0, 0, 0, 0.621);
    border: solid 7px rgb(255, 177, 177); 

    border-radius: 15px;
}

.centrar{
    margin: 0 auto;

}

img{
    width: 100%;
    height: 150px;
    border-radius: 5%;
    margin-bottom: 1rem;
}

i{
    width: 1rem;
    text-align: center;
}

.parrafoTarjeta{
    height: 10rem;
}


/* Swipper */

.swiper {
    width: 18rem;
    height: 535px;
  }

  .swiper-slide {
    border-radius: 18px;
    border: rgb(245, 125, 125) solid 3px;    
    color: #fff;
    background-color: rgb(166, 108, 131);
  }

  /* .swiper-slide:nth-child(1n) {
    
  }

  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }

  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }

  .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }

  .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }

  .swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }

  .swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }

  .swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }

  .swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }

  .swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  } */